    <div class="logo">
        <img src="view/ex4/assets/img/logo.png"alt="logo">
        <p> 
            <img src="view/ex4/assets/img/telefone.png" alt="telefone"/>(47)3332-4470
        </p>
    </div>
    <div class="institucional">
        <h4>INSTITUCIONAL</h4>
        <ul>
            <a href=""><li>Atendimento</li></a>
            <a href=""><li>Quem somos</li></a>
            <a href=""><li>Programa de Afiliados</li></a>
            <a href=""><li>Compra segura</li></a>
            <a href=""><li>Política de privacidade</li></a>
            <a href=""><li>Avaliações de Clientes</li></a>
        </ul>
    </div>
    <div class="paginas-especiais">
        <h4>PÁGINAS ESPECIAIS</h4>
        <ul>
            <a href=""><li>Meus pedidos</li></a>
            <a href=""><li>Trocas e devoluções</li></a>
            <a href=""><li>Entregas</li></a>
            <a href=""><li>Contate-nos</li></a>
        </ul>
    </div>
    <div class="selos">
        <h4>SELOS DE SEGURANÇA</h4>
        <img src="view/ex4/assets/img/selo.png" alt="">
    </div>
    <div class="formas-pagamento">
        <H4>FORMAS DE PAGAMENTO</H4>
        <div class="cartoes">
            <img src="view/ex4/assets/img/boleto-bancario.svg" alt="">
            <img src="view/ex4/assets/img/cartao-american-express.svg" alt="">
            <img src="view/ex4/assets/img/cartao-diners.svg" alt="">
            <img src="view/ex4/assets/img/cartao-elo.svg" alt="">
            <img src="view/ex4/assets/img/cartao-hipercard.svg" alt="">
            <img src="view/ex4/assets/img/cartao-visa.svg" alt="">
        </div>
    </div>