<!DOCTYPE html>
<html>
    <head>        
        <title>{% block title %}{% endblock %}</title>
        {% block links %}{% endblock %}
    </head>
    <body>
        <header>
            {% block header %}{% endblock %}
        </header>
        <div class="content">
            {% block content %}{% endblock %}
        </div>
        <footer>
            {% block footer %}{% endblock %}
        </footer>                
    </body>
</html>