
<img src="view/ex4/assets/img/logo.png" class="logoHead" alt="logo">
<div class="boxInput">
    <input type="text" class="search" placeholder="Faça uma pesquisa...">
    <img src="view/ex4/assets/img/search.png" alt="search">
</div>
<p class="login">
    Atendimento<br>
    Olá! <a href="">Entre</a> ou <a href="">Cadastre-se</a>
</p>
<div class="carrinho">
    <img src="view/ex4/assets/img/carrinho-de-compras.png" alt="Carrinho">
    <span>0</span>
</div>

