<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ex6</title>
</head>
<body>
    {% set data = "now"|date("m/d/Y") %}
    <h3>DATA ATUAL: {{data}}</h3>
</body>
</html>