<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ex5</title>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap" rel="stylesheet">
    <link href="view/ex5/styles.css" rel="stylesheet">
</head>
<body>
    {% set produtos = [
        {
            'nome': 'Smartphone Xiaomi Redmi Note 8 64GB Versão Global Desbloqueado Preto',
            'valor': 1299.96,
            'url': 'https://www.cissamagazine.com.br/smartphone-xiaomi-redmi-note-8-64gb-desbloqueado-preto',
            'imagem': 'https://29028l.ha.azioncdn.net/img/2019/09/produto/180351/19/large/smartphone-xiaomi-redmi-note-8-preto.jpg'
        },
        {
            'nome': 'Smartphone Xiaomi Redmi Note 8 64GB Versão Global Desbloqueado Branco',
            'valor': 1299.96,
            'url': 'https://www.cissamagazine.com.br/smartphone-xiaomi-redmi-note-8-64gb-desbloqueado-branco',
            'imagem': 'https://29028l.ha.azioncdn.net/img/2019/09/produto/180355/19/large/smartphone-xiaomi-redmi-note-8-branco.jpg'
        },
        {
            'nome': 'Smartphone Xiaomi Redmi Note 8 64GB Versão Global Desbloqueado Azul',
            'valor': 1299.96,
            'url': 'https://www.cissamagazine.com.br/smartphone-xiaomi-redmi-note-8-64gb-desbloqueado-azul',
            'imagem': 'https://29028l.ha.azioncdn.net/img/2019/09/produto/180347/19/large/smartphone-xiaomi-redmi-note-8-azul.jpg'
        },
        {
            'nome': 'Fone de Ouvido Bluetooth Xiaomi Redmi Airdots Preto',
            'valor': 138.72,
            'url': 'https://www.cissamagazine.com.br/fone-ouvido-xiaomi-airdots-twsej04lm-preto',
            'imagem': 'https://29028l.ha.azioncdn.net/img/2019/08/produto/176006/19/large/fone-de-ouvido-xiaomi-redmi-airdots.jpg'
        },
    ]%}
 
    {% import 'macroProdutos.twig' as macroProdutos %}
    {{macroProdutos.listarProdutos(produtos)}}
    
</body>
</html>